* {
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../images/sistemaERP.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.Scroll{
    overflow: auto;
    width: 60vw;
    height: 589px;
    border: 1px solid ;
}
.Scroll::-webkit-scrollbar{
    width: 5px;
}
.Scroll::-webkit-scrollbar-thumb{
    background-color: #363636;
    border-radius: 10px;
}
#chec{
    display: none;
}
.top{
    display:flex;
    height: 40px;
    background-color: #696969;
    transition: all .2s;
}
.btn{
    display: flex;
    flex: 1;
    align-items: center;
}
.btn img{
    height: 30px;
    cursor: pointer;
}
.usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.topInt{
    display: flex;
    justify-content: center;
    width: 80%;
}
h1{
    display: flex;
    justify-content: center;
    margin-left: 50px;
    line-height: center;
    color: #fff;
}
nav{
    display: flex;
}
.menuLeft{
    position: absolute;
    height: calc(100vh - 40px);
    width: 270px;
    left: -250px;
    background-color: rgba(28,28,28,0.9);
    transition: all .4s;
}
.user{
    color: #fff;
}
.menuLeft ul {
    margin-top: 15px;
}
.menuLeft li {
    padding-left: 10px;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
}
.menuLeft li:hover {
    color:#696969;
    background-color: #4682b4;
    cursor: pointer;
}
.menuLeft a {
    text-decoration: none;
}
.intPord li {
color: #fff;
}

input[type="checkbox"]:checked ~ .menuLeft{
    transform: translateX(250px);
}
.img{
    margin-top: 20px;
    height: 100vh;
    z-index: 1;
}
.imgIcon a, .imgIcon1 a{
    color: #fff;
}
.imgIcon a:hover, .imgIcon1 a:hover{
    color: #696969;
}
.imgIcon img{
    position: absolute;
    height: 25px;
    width: 25px;
    margin-left: 160px;
    margin-top: 10px;
}
.imgIcon1 img{
    position: absolute;
    height: 25px;
    width: 25px;
    margin-left: 127px;
    margin-top: 10px;
}
.rodape {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #fff;
    margin-bottom: 15px;
}
.rodape small {
    margin-left: 5px;
    margin-top: 5px;
}
.rodape-a{
    color: #00bfff;
}
.sup-prod{
    background-color: rgba(28,28,28,0.6);
    display: inline-block;
    justify-content: center;
    margin-left: 270px;
    width: 60vw;
    height: 650px;
    border: 2px solid #000;
    
}
.cad-produto{
   display: inline-block;
   margin-left: 200px;
    height: 400px;
    width: 300px;
    top: 150px;
    
}
.top-h1{
    color: #fff;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
}
label{
    color: #fff;
    text-transform: uppercase;
    margin-left: 10px;
}
input{
    display: block;
    width: 270px;
    line-height: 20px;
    margin: 10px 10px;
}
input[type="submit"]{
    background-color: rgba(0,0,128,0.8);
    height: 40px;
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    border: transparent;
}
input[type="submit"]:hover {
    background-color: #4682b4;
}
.viz{
    color: #fff;
    margin-right: 130px;
    font-size: 25px;
    margin: 15px;
}
.zebra tr:nth-child(even){
    background-color: #bebebe;
}
table th{
    color: #fff;
    background-color: #778899;
    text-transform: uppercase;
}
table td{
    font-size: 15px;
    color: #fff;
}
.botao{
    background-color: rgba(0,0,128,0.8);
    color: #fff;
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 10px;
    border-radius: 2px;
    font-size: 15px;
}
.botao:hover{
    background-color: #4682b4;
}
.quant{
    padding-top:20%;
    margin: auto;
    display: flex;
    width: 300px;
    height: 400px;
}

/*                               Responsividade para celular                                                 */

@media (max-width:450px){
    body{
        
        background-repeat: repeat;
    }
    .top{
        background-color: green;
    }
    .topInt{
        display: flex;
        justify-content: left;
        align-items: center;
        width: 80%;
        font-size: 10px;
    }
    .btn{
        flex: 1;
        margin: 10px;
        cursor: pointer;
    }
    .usuario{
        display: none;
    }
    .menuLeft {
        position: absolute;
        z-index: 1;
        height: calc(100vh - 40px);
        width: 365px;
        left: -370px;
        background-color:rgba(28,28,28,1);
        transition: all .4s;
    }
    .menuLeft li{
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 50px;
        font-size: 30px;
    }
    .menuLeft ul{
        margin-top: 50px;
    }
    input[type="checkbox"]:checked ~ .menuLeft{
        transform: translatex(365px);
    }
    .rodape{
        display: flex;
        justify-content: center;
    }
    .login-users{
        border: #363636;
    }
    .sup-prod{
        position: absolute;
        width: 40vh;
        margin: 40px 20px;
    }
    .cad-produto{
        margin-left: 30px;
    }
    h1{
        margin-left: 0px;
    }
    .sup-prod{
        background-color: rgba(28,28,28,0.6);
        display: inline-block;
        justify-content: center;
        margin-left:0px;
        margin-top: 70px;
        width: 98vw;
        height: 500px;
        border: 2px solid #000;
        padding-left: 3px;
        
    }
    .Scroll{
        overflow: auto;
        margin: auto;
        width: 95vw;
        height: 440px;
        border: 1px solid ;
    }
    .quant{
        margin-top: 20vh;
        margin-left: 5%;
    }
}